%a(href="http://github.com/justfielding")
  %img#ribbon(src="/img/forkme.png" alt="Fork me on GitHub")
%div#head
  %img#logo(src="/img/logo.png" alt="justfielding.com")
    %div#nav 
      %a(href="/")home
      | 
      %a(href="/about")about 
      | 
      %a(href="/notes")notes 
      | 
      %a(href="/blog")blog
