%div#head
  %img#logo(src="/img/logo.png" alt="justfielding.com")
    %div#nav 
      %a(href="/")home 
      | 
      %a(href="/about")about 
      | 
      %a(href="/notes")notes 
      | 
      %a(href="/blog")blog
%div#crumbs
  %i@
  note/#{@name} - Description or tags
