!!! 5
%html
  %head= partial :_head
  %body
    %div#thinwrap
      %header= partial :_header
      %content
        %p 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          %i Nulla tincidunt nisi 
          ac turpis vulputate sit amet lacinia enim interdum. Donec ipsum purus, dapibus eu rhoncus vel, accumsan id nunc. In hac habitasse platea dictumst. Quisque nunc odio, euismod eget accumsan vel, tincidunt quis est. Nam at quam sed neque feugiat egestas tincidunt nec metus. Maecenas ornare, massa bibendum scelerisque ullamcorper, justo erat commodo mauris, at auctor dui sem sed sapien. Nullam placerat venenatis velit, eget vestibulum lorem bibendum a. Suspendisse fermentum risus a nunc consectetur id dapibus nibh placerat. Duis sapien ligula, posuere a iaculis nec, tristique sed velit. Sed vitae lorem a nibh mollis dapibus et eu felis. Curabitur porttitor, enim quis pharetra facilisis, tellus velit rhoncus dui, vel posuere sapien leo eu purus. Mauris vel magna metus. Aliquam commodo, arcu a accumsan porttitor, felis augue mollis massa, id fermentum dui quam nec lacus.
        %h3 Blackout with my sack out!
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt nisi ac turpis vulputate sit amet lacinia enim interdum. Donec ipsum purus, dapibus eu rhoncus vel, accumsan id nunc. In hac habitasse platea dictumst. Quisque nunc odio, euismod eget accumsan vel, tincidunt quis est. Nam at quam sed neque feugiat egestas tincidunt nec metus. Maecenas ornare, massa bibendum scelerisque ullamcorper, justo erat commodo mauris, at auctor dui sem sed sapien. Nullam placerat venenatis velit, eget vestibulum lorem bibendum a. Suspendisse fermentum risus a nunc consectetur id dapibus nibh placerat. Duis sapien ligula, posuere a iaculis nec, tristique sed velit. Sed vitae lorem a nibh mollis dapibus et eu felis. Curabitur porttitor, enim quis pharetra facilisis, tellus velit rhoncus dui, vel posuere sapien leo eu purus. Mauris vel magna metus. Aliquam commodo, arcu a accumsan porttitor, felis augue mollis massa, id fermentum dui quam nec lacus.
        %h3 Contact Me
        %p
          e-mail:
          %a(href="mailto:fielding@justfielding.com")fielding@justfielding.com

      %footer= partial :_footer
