!!! 5
%html
  %head= partial :_head
  %body
    %header= partial :_header
    %content
      %div#wrapper.thincenter
        %h1 Denied! Authorization Required!
        %h2 Warning! The System Intruded!!!
    %footer= partial :_footer
